

h1{
    color: maroon;
    text-align: center;
    
}

button#btn3{
    width:20%;
    
}
button#btn4{
    width:20%;
    margin-left:60%;
    
}

#empsdiv{
    border:2px solid black;
    border-radius:5px;
    padding: 20px;
}