



<form #loginForm="ngForm" class="col-lg-6" style="margin-left:25%;"  *ngIf="!authService.getUser()">
  <div class="alert alert-danger container-fluid" role="alert" *ngIf="message"> 
    {{message}}
  </div>
    <img src="../assets/img_avatar.png">
  <div class="form-group " >
    <label for="username">Username:</label>
    <input type="text" class="form-control" name="username" placeholder="Enter Username" ngModel required #username>
  </div> 
  <div class="form-group ">
    <label for="password">Password:</label>
    <input type="password" class="form-control" name="password" placeholder="Enter Password" ngModel required #password>
  </div> 
  <button type="submit" class="btn btn-primary" (click)="login(username.value,password.value)" [disabled]="!loginForm.form.valid">
    Login
  </button>
  
</form>

<div  class="container-fluid" *ngIf="authService.getUser()">

    <h1 class="jumbotron">Welcome {{authService.getUser()}}</h1>

  <!--  <a href (click)="logout()">Logout</a>  -->

</div>