a{
    font-size: 30px;
    color:red;
}

h2{
    
    text-align: center;
}

form{
   
    padding: 10px;
}

img{
    width:20%;
    margin-left:40%;
    border-radius: 30px;
}


form{
    border:2px solid black;
    border-radius:5px;
    padding: 20px;
    
    
}


