



<form #loginForm="ngForm" class="col-lg-5"  *ngIf="!authService.getUser()" >
  
    <img src="../assets/img_avatar.png">
    <div class="alert alert-danger container-fluid" role="alert" *ngIf="message"> 
        {{message}}
      </div>
  <div class="form-group " >
    <label for="username">Username:</label>
    <input type="text" class="form-control" name="username" placeholder="Enter Username" ngModel required #username="ngModel">
  </div> 

  <div *ngIf="(username.invalid)&&(username.touched)" class="alert alert-danger">
      Username is required
    </div>


  <div class="form-group ">
    <label for="password">Password:</label>
    <input type="password" class="form-control" name="password" placeholder="Enter Password" ngModel required #password="ngModel">
  </div> 
  <div *ngIf="(password.invalid)&&(password.touched)" class="alert alert-danger">
      Password is required
    </div>

  <button type="submit" class="btn-lg btn-primary" (click)="login(username.value,password.value)" [disabled]="!loginForm.form.valid">
    Login
  </button>
  
</form>

<div id="userdiv" class="container-fluid col-lg-6" style="margin-left:25%" *ngIf="authService.getUser()">

    <h1 class="jumbotron">Welcome {{authService.getUser()}}</h1>

  <!--  <a href (click)="logout()">Logout</a>  -->

</div>