
<div class="container-fluid">
    <h1 class="jumbotron">{{title}}</h1>
</div>



<div class="container-fluid">  
  <nav class="navbar navbar-inverse">
    <a class="navbar-brand" [routerLink]="['/login']">Login |</a>
    <a class="navbar-brand" [routerLink]="['/employee']">Employees |</a>
    <a class="navbar-brand" [routerLink]="['/add']">Add</a>

  

    <button  *ngIf="authService.getUser()" id="logoutbtn" type="submit" (click)="logout()" class="btn btn-danger">Logout</button> 

  </nav>
</div>



<router-outlet></router-outlet>