
<div class="jumbotron">
    <h1 >{{title}}</h1>
</div>



  <nav class="navbar navbar-inverse">
  <div class="container-fluid">  
    
    <a class="navbar-brand" [routerLink]="['/login']">Login |</a>
    <a class="navbar-brand" [routerLink]="['/employee']">Employees |</a>
    <a class="navbar-brand" [routerLink]="['/add']">Add</a>

  

    <button  *ngIf="authService.getUser()" id="logoutbtn" type="submit" (click)="logout()" class="btn btn-danger">Logout</button> 

  

  </div>
  </nav>




<router-outlet></router-outlet>