

<div [hidden]="submitted" class="col-lg-6" style="margin-left:25%;" >
    
  <form (ngSubmit)="onSubmit()" #addEmp="ngForm" novalidate>
      <h2>Add Employee</h2>
    <div class="form-group">
      <label for="empid">EmpId</label>
      <input type="text" class="form-control" id="empid"
       [(ngModel)]="employee.empid" name="empid" placeholder="Enter Employee Id" required #empid="ngModel">
    </div>
    <div *ngIf="empid.errors &&(empid.dirty || empid.touched)" class="alert alert-danger">
        <div [hidden]="!empid.errors.required">
          Empid is required
        </div>
      </div>
      

    <div class="form-group">
      <label for="firstName">FirstName</label>
      <input type="text" class="form-control" id="firstName" name="firstName" placeholder="Enter Firstname" required 
      minlength="3" maxlength="16"   [(ngModel)]="employee.firstName" #firstName="ngModel">
    </div>

    <div *ngIf="firstName.errors &&(firstName.dirty || firstName.touched)" class="alert alert-danger">
        <div [hidden]="!firstName.errors.required">
          FirstName is required
        </div>
        <div [hidden]="!firstName.errors.minlength">
          FirstName is atleast of 3 characters long
        </div>
      </div>

    <div class="form-group">
      <label for="lastName">LastName</label>
      <input type="text" class="form-control" id="lastName" placeholder="Enter Lastname"
      [(ngModel)]="employee.lastName" name="lastName" required minlength="3" maxlength="16" #lastName="ngModel">
    </div>

    <div *ngIf="lastName.errors &&(lastName.dirty || lastName.touched)" class="alert alert-danger">
        <div [hidden]="!lastName.errors.required">
          LastName is required
        </div>
        <div [hidden]="!lastName.errors.minlength">
          LastName is atleast of 3 characters long
        </div>
      </div>


    <div class="form-group">
      <label for="emailAddress">EmailAddress</label>
      <input type="text" class="form-control" id="emailAddress" placeholder="Enter Email Address"
       [(ngModel)]="employee.emailAddress" name="emailAddress" required email #email="ngModel">
    </div>

    <div *ngIf="email.errors &&(email.dirty || email.touched)" class="alert alert-danger">
        <div [hidden]="!email.errors.required">
          Email Address is required
        </div>
        <div [hidden]="!email.errors.email">
          Enter correct email address
        </div>
      </div>

     

    <div class="form-group">
      <label for="phoneNumber">PhoneNumber</label>
      <input type="number" class="form-control" id="phoneNumber" placeholder="Enter Phonenumber"
       [(ngModel)]="employee.phoneNumber" name="phoneNumber" pattern="^[6-9]\d{9}$"  required #phoneNumber="ngModel">
    </div>
    
    <div *ngIf="phoneNumber.errors &&(phoneNumber.dirty || phoneNumber.touched)" class="alert alert-danger">
        <div [hidden]="!phoneNumber.errors.required">
          Phone Number is required
        </div>
        <div [hidden]="!phoneNumber.errors.pattern">
          Enter the valid phonenumber
        </div>
       
      </div>
    <button type="submit" class="btn btn-success" 
    [disabled]="!addEmp.form.valid" id="btn1">Submit</button>

    <button type="button" class="btn btn-info" (click)="goback()" id="btn2"
    >Back</button> 

  </form>
</div>






<div [hidden]="!submitted" id="empdiv"  class="col-lg-6" style="margin-left:25%;">
<h2> You Added The Employee Successfully</h2>
<br>
<br>
<hr/>
<button class="btn btn-success" (click)="newEmployee()" id="btn1">Add Employee</button>

<button type="submit" class="btn btn-info" (click)="goback()" id="btn2"
>Back</button> 

</div>




