.ng-valid[required], .ng-valid.required  {
    border-left: 5px solid yellowgreen/* green */
  }
  

  .ng-touched:not(form)  {
    border-left: 5px solid #a94442; /* red */
  }


  button{
    width: 100%;
    border: none;
    
  }
  