
<form  class="container-fluid col-lg-6" style="margin-left:25%;" #searchForm="ngForm" >
  <h2>Search Employee</h2>
  <div class="form-group">
    <label for="empid">EmpId</label>
    <input type="text" class="form-control" id="empid" name="empid" placeholder="Enter the Employee ID"
    [(ngModel)]="empid" required   #id="ngModel">
  </div>
 
  <div *ngIf="id.errors && (id.dirty || id.touched)" class="alert alert-danger">
    <div [hidden]="!id.errors.required">
      Emp id is required
    </div>
    
  </div>
  
  <div>
  <button type="submit" class="btn btn-success" (click)="getEmp(id.value)"
   [disabled]="!searchForm.form.valid" id="btn1">Submit</button>

   <button type="button" class="btn btn-info" (click)="goback()" id="btn2"
   >Back</button> 
  </div>
  
</form>





<div id="datadiv"  *ngIf="employee"  class="container" >

  <table class="table">
      <thead>
          <tr>
            <th>FirstName</th>
            <th>LastName</th>
            <th>EmailAddress</th>
            <th>PhoneNumber</th>
          </tr>
        
        </thead>
    <tbody>
      <tr class="info">
        <td>{{employee.firstName}}</td>
        <td>{{employee.lastName}}</td>
        <td>{{employee.emailAddress}}</td>
        <td>{{employee.phoneNumber}}</td>
      </tr>
    </tbody>
  </table>
</div>
